body {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

header, footer {
  padding: 1em 10vw;
}

header {
  flex: 2;
  background-color: ghostwhite;
}

footer {
  flex: 1;
}

header > * {
  margin: 0.5em 0;
}

main {
  height: 80vh;
  overflow: hidden;
  padding: 0 10vw;
}

#editor {
  width: 100%;
  padding: 1em;
  overflow-y: scroll;
}

#editor:focus {
  outline: 0;
}

#placeholder {
  font-style:italic;
}

.blinking-cursor {
  color: black;
  font-size: 1.2em;
  font-style: normal;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}